.body {
    font-family: Arial, sans-serif;
    margin: 30px 100px;
    line-height: 1.6;
}
h1, h2, h3 {
    color: #0056b3;
}
pre {
    background: #111010;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
code {
    margin: 10px 30px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    color: #ff2e2e;
}

/* Estilos específicos para dispositivos móviles (ejemplo: pantalla menor a 768px de ancho) */
@media (max-width: 768px) {
    .body {
        margin: 0px 5%;
    }
}