<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid class="footer">
      <ion-row>
        <ion-col size="12" sizeSm="6" sizeMd="4">
          <h2>Sobre Nosotros</h2>
          <p>
            Bienvenido al blog oficial de Arch Linux, donde encontrarás artículos, tutoriales y noticias relacionadas
            con
            este sistema operativo.
          </p>
          <!-- Agrega más información sobre tu blog si es necesario -->
        </ion-col>
        <ion-col size="12" sizeSm="6" sizeMd="4">
          <h2>Enlaces Rápidos</h2>
          <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/articles">Artículos</a></li>
            <li><a href="articles/install">Instalación de Arch Linux</a></li>
          </ul>
        </ion-col>
        <ion-col size="12" sizeSm="12" sizeMd="4" class="contacto">
          <h2>Contacto</h2>
          <ion-grid>
            <ion-row>
              <ion-col size="6" sizeSm="3" sizeMd="6">
                <ion-img src="../../../assets/icon/footerIcons/instagram.png" alt="Red social: instagram">
                </ion-img>
              </ion-col>

              <ion-col size="6" sizeSm="3" sizeMd="6">
                <ion-img src="../../../assets/icon/footerIcons/twitterx.png" alt="Red social: twitterx">
                </ion-img>
              </ion-col>

              <ion-col size="6" sizeSm="3" sizeMd="6">
                <ion-img src="../../../assets/icon/footerIcons/gmail.png" alt="Red social: gmail">
                </ion-img>
              </ion-col>

              <ion-col size="6" sizeSm="3" sizeMd="6">
                <ion-img src="../../../assets/icon/footerIcons/reddit.png" alt="Red social: reddit">
                </ion-img>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>