<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid class="footer">
      <ion-row class="social-icons">
        <ion-col size="4">
          <a href="https://github.com/mariscaldev" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </ion-col>
        <ion-col size="4">
          <a href="mailto:mariscaldev@gmx.com">
            <ion-icon name="mail-outline"></ion-icon>
          </a>
        </ion-col>
        <ion-col size="4">
          <a href="https://mariscaldev.cl" target="_blank">
            <ion-icon name="briefcase-outline"></ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
